
<div class="Footer">
    <div class="Rectangle6"></div>
    <div class="Logos">
      <div class="BrandName">Foodhut</div>
      <div class="SocialMedia">
        <img class="element1" src="./1.png" herf="#" />
        <img class="element1" src="./2.png" herf="#"/>
        <img class="element1" src="./3.png" herf="#"/>
        <img class="element1" src="./4.png" herf="#"/>
      </div>
      <div class="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
    </div>
  
    <div class="AboutUsSection">
      <div class="SectionTitle">About Us</div>
      <div class="SectionLink">About Us</div>
      <div class="SectionLink">Service Us</div>
      <div class="SectionLink">Contact</div>
      <div class="SectionLink">Company</div>
    </div>
  
    <div class="CompanySection">
      <div class="SectionTitle">Company</div>
      <div class="SectionLink">Partnership</div>
      <div class="SectionLink">Terms of Use</div>
      <div class="SectionLink">Privacy</div>
      <div class="SectionLink">Sitemap</div>
    </div>
  
    <div class="GetInTouchSection">
      <div class="SectionTitle">Get in touch</div>
      <div class="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
    </div>
    
    <div class="Copyright">Copyright © 2024 Foodhut, GREATE BY:ARMIA.G (R100)</div>
  </div>