
<div class="e2">
    <div>
      <div class="stackjapanesefo">
        <div class="column">
          <div class="columnjapanesef container-xs">
            <div>
              <div class="rowjapanesefood">
                <div class="originallogo">
                </div>
              </div>
            </div>
          </div>
          <div class="columnweprovide">
            <div class="columnhome container-xs">
              
            </div>
            <div class="row_one">
              <div class="row">
                <div class="image">
                  <img src="./img_image_111.png" alt="Image111" class="image111_one" />
                </div>
                <div class="rowweprovide">
                  <div class="title-1">
                    <h2 class="alittle ui heading size-textmd">We provide healthy food for your family.</h2>
                    <div class="columndescripti">
                      <h3 class="description-4 ui heading size-texts">
                        Our story began with a vision to create a unique dining experience that merges fine dining,
                        exceptional service, and a vibrant ambiance. Rooted in city&#39;s rich culinary culture, we
                        aim to honor our local roots while infusing a global palate.
                      </h3>
                      <p class="description-5 ui text size-textxs">
                        At place, we believe that dining is not just about food, but also about the overall
                        experience. Our staff, renowned for their warmth and dedication, strives to make every visit
                        an unforgettable event.
                      </p>
                    </div>
                  </div>
                  <img src="./img_mint.svg" alt="Mint" class="mint_one" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="columncomeandvi">
            <h4 class="comeandvisit ui heading size-headingmd">Come and visit us</h4>
            <div class="info">
              <div class="call">
                <img src="./img_icon_outline_phone.svg" alt="Iconoutline" class="iconoutline_one" />
                <p class="class-4148570107 ui text size-textxs">(414) 857 - 0107</p>
              </div>
              <div class="mail">
                <img src="./img_icon_outline_mail.svg" alt="Iconoutline" class="iconoutline_one" />
                <p class="class-4148570107 ui text size-textxs">{{ email }}</p>
              </div>
              <div class="location">
                <img
                  src="./img_icon_outline_location_marker.svg"
                  alt="Iconoutline"
                  class="iconoutline_one"
                />
                <p class="class-837wmarshall ui text size-textxs">
                  837 W. Marshall Lane Marshalltown, IA 50158, Los Angeles
                </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="content">
        <div class="content-1">
          <div class="imgaa">
            <div class="rowvector_one container-xs">
              <div class="columnvector">
                <button class="vector_one" (click)="playVideo()">
                  <img src="./img_vector.svg" />
                </button>
              </div>
            </div>
          </div>
          <div class="features">
            <div class="one">
              <img src="./img_restaurant_menu.svg" alt="Multi Cuisine" class="multi_cuisine" />
              <div class="columnmulticuis">
                <h3 class="ui heading size-headings">Multi Cuisine</h3>
                <p class="inthenewera ui text size-textxs">
                  In the new era of technology we look in the future with certainty life.
                </p>
              </div>
            </div>
            <div class="one">
              <img src="./img_calendar.svg" alt="Multi Cuisine" class="multi_cuisine" />
              <div class="columnmulticuis">
                <h4 class="ui heading size-headings">Easy To Order</h4>
                <p class="inthenewera ui text size-textxs">
                  In the new era of technology we look in the future with certainty life.
                </p>
              </div>
            </div>
            <div class="one">
              <img src="./img_timer_1.svg" alt="Multi Cuisine" class="multi_cuisine" />
              <div class="columnmulticuis">
                <h5 class="ui heading size-headings">Fast Delivery</h5>
                <p class="inthenewera ui text size-textxs">
                  In the new era of technology we look in the future with certainty life.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row_three">
        <div class="rowalittle container-xs">
          <div class="columnalittle">
            <div class="title">
              <h2 class="alittle ui heading size-textmd">A little information for our valuable guest</h2>
              <p class="description ui text size-textxs">
                At place, we believe that dining is not just about food, but also about the overall experience. Our
                staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.
              </p>
            </div>
            <div class="facts">
              <div class="one-4">
                <div class="columnthree">
                  <h3 class="three-1 ui heading size-textmd assss" >3</h3>
                  <h4 class="locations ui heading size-texts asss">Locations</h4>
                </div>
              </div>
              <div class="one-4">
                <div class="columnthree">
                  <h5 class="three-1 ui heading size-textmd">1995</h5>
                  <h6 class="locations ui heading size-texts">Founded</h6>
                </div>
              </div>
          </div>
              <div class="as">
              <div class="one-2">
                <div class="columnthree">
                  <p class="three-1 ui heading size-textmd">65+</p>
                  <p class="locations ui heading size-texts">Staff Members</p>
                </div>
              </div>
              <div class="one-2">
                <div class="columnthree">
                  <p class="three-1 ui heading size-textmd">100%</p>
                  <p class="locations ui heading size-texts">Locations</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="stackpexelscott">
            <img src="./img_pexels_cottonbr_680x554.png" alt="Pexelscottonbr" class="pexelscottonbr-1" />
          </div>
        </div>
      </div>
      <footer class="footerwhatour">
        <div class="columnwhatour container-xs">
          <p class="whatour ui heading size-textmd">What Our Customers Say</p>
          <div class="card-1">
            <div class="one-3">
              <div class="columnthebest">
                <h4 class="thebest ui heading size-headingmd">“The best restaurant”</h4>
                <p class="description-1 ui heading size-texts">
                  Last night, we dined at place and were simply blown away. From the moment we stepped in, we were
                  enveloped in an inviting atmosphere and greeted with warm smiles.
                </p>
              </div>
              <div class="line310_one"></div>
              <div class="user">
                <img src="./img_ellipse_19.png" alt="Sophire Robson" class="sophire_robson" />
                <div class="columnsophirero">
                  <h6 class="sophirerobson ui heading size-headingxs">Sophire Robson</h6>
                  <p class="losangelesca ui text size-textxs">Los Angeles, CA</p>
                </div>
              </div>
            </div>
            <div class="two">
              <div class="columnline310">
                <div class="columnsimply">
                  <h4 class="thebest ui heading size-headingmd">“Simply delicious”</h4>
                  <p class="description-1 ui heading size-texts">
                    Place exceeded my expectations on all fronts. The ambiance was cozy and relaxed, making it a
                    perfect venue for our anniversary dinner. Each dish was prepared and beautifully presented.
                  </p>
                </div>
                <div class="line310_one-1"></div>
              </div>
              <div class="user-1">
                <img src="./img_image.png" alt="Image" class="sophire_robson" />
                <div class="columnsophirero">
                  <h6 class="sophirerobson ui heading size-headingxs">Matt Cannon</h6>
                  <p class="losangelesca ui text size-textxs">San Diego, CA</p>
                </div>
              </div>
            </div>
            <div class="two">
              <div class="columnline310-1">
                <div class="title">
                  <h4 class="thebest ui heading size-headingmd">“One of a kind restaurant”</h4>
                  <p class="description-1 ui heading size-texts">
                    The culinary experience at place is first to none. The atmosphere is vibrant, the food - nothing
                    short of extraordinary. The food was the highlight of our evening. Highly recommended.
                  </p>
                </div>
                <div class="line310_one-1"></div>
              </div>
              <div class="user-2">
                <img src="./img_image_70x70.png" alt="Image" class="sophire_robson" />
                <div class="columnandysmith">
                  <h6 class="sophirerobson ui heading size-headingxs">Andy Smith</h6>
                  <p class="losangelesca ui text size-textxs">San Francisco, CA</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
