.aa {
    background-color: var(--black_900);
  }
  
  .container {
    background: linear-gradient(180deg, #ffffff19, #fdc55e19);
    padding: 68px 0;
  }
  
  .manage {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold; 
  }
  
  .manage:hover {
    text-decoration: underline; 
    color: #0056b3; 
  }
  
  .form-container {
    width: 300px;
    background: linear-gradient(180deg, #ffffff19, #fdc55e19);
    margin-left: 38%;
    padding: 85px;
    background-color: #f4f4f4;
    border-radius: 74px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
  }
  
  input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  p {
    text-align: center;
  }
  